# Maven target directory
/target/

# IntelliJ IDEA files
/.idea/
/*.iml

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Java-specific files
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.bak
*.swp
*.swo